.main {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.quote {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
    height: 654px;
    width: 100%;
}
.quote-title {
    color: #f0d8d9;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    margin: 0;
    padding-left: 39px;
    padding-top: 68px;
    padding: 0;
}
.quote-title span {
    margin-left: -1px;
}
.quote-text {
    color: #f0d8d9;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    height: 57px;
    line-height: 30px;
    margin-left: 40px;
    margin-top: 28px;
    margin: 0;
    padding: 0;
    width: 940px;
}
.quote-text-span1 {
    margin-left: -1px;
}
.quote-text-span2 {
    margin-left: -1px;
}
.quote-text-span3 {
    letter-spacing: -0.004em;
    margin-left: -1px;
}
.quote-text-span4 {
    letter-spacing: -0.012em;
    word-spacing: -0.01em;
}
.quote-text-span5 {
    letter-spacing: -0.005em;
}
.quote-wrap {
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
}
.quote-form {
    width: 640px;
}
.quote-form-area,
.quote-form-btn,
.quote-form-input {
    background-color: #d6564f;
    border-radius: 5px;
    border: 0;
    color: #f0d8d9;
    cursor: pointer;
    font-family: "Lato";
    font-size: 12px;
    font-size: 12px;
    font-weight: 400;
    height: 36px;
    line-height: 22px;
    margin-top: 16px;
    outline: 0;
    padding-left: 14px;
    text-align: left;
    width: 605px;
}
.quote-form input:nth-child(2) {
    height: 36.5px;
}.quote-form input:nth-child(3) {
    height: 35.5px;
}
::placeholder {
    color: #f48c8f;
}
::-webkit-input-placeholder {
    color: #f48c8f;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 22px;
    padding-top: 5px;
    text-align: left;
}
textarea::placeholder {
    letter-spacing: -0.005em;
}
.quote-form-area {
    max-height: 198px;
    max-width: 603px;
    min-height: 198px;
    min-width: 603px;
    resize:none;
}
.quote-form-btn {
    text-align: center;
    width: 619px;
}
.quote-form-btn:hover {
    background-color: rgb(219, 24, 63);
}
.quote-info-title {
    color: #f0d8d9;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.003em;
    line-height: 18px;
    margin: 0;
    padding-top: 16px;
    padding: 0;
}
.quote-info-text {
    color: #f1d9da;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: 22px;
    margin-left: 0px;
    margin-top: 11px;
    width: 304px;
}
.quote-info-text-span1 {
    letter-spacing: 0.003em;
}
.quote-info-text-span2 {
    letter-spacing: 0.01em;
}

.quote-info-contact,
.quote-info-contact a {
    color: #f0d8d9;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}
.quote-info-contact {
    margin-left: -23px;
    margin-top: 24px;
}
.quote-info-contact-location {
    letter-spacing: -0.014em;
    line-height: 20px;
    list-style-image: url(./assets/singolo-2/Signs/Sign5.png);
    margin-left: -1px;
    padding-left: 7px;
}
.quote-info-contact-phone {
    letter-spacing: -0.01em;
    list-style-image: url(./assets/singolo-2/Signs/Sign6.png);
    margin-left: 1px;
    padding-left: 5px;
    text-decoration: none;
}
.quote-info-contact-mail {
    letter-spacing: -0.01em;
    list-style-image: url(./assets/singolo-2/Signs/Sign7.png);
    margin-left: 2px;
    margin-top: 1px;
    padding-left: 4px;
}
.quote-info-contact a {
    text-decoration: none;
}

.footer {
    align-items: center;
    background-color: #323641;
    display: flex;
    height: 76px;
    justify-content: space-between;
    width: 100%;
}
.footer-copy-text {
    color: #646b86;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.015em;
    letter-spacing: 0.02em;
    margin-left: 40px;
    padding-left: 1px;
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    margin-right: 39px;
    padding-top: 5px;
    width: 154px;
}
.footer-icons a {
    cursor: pointer;
    transition: all 0.5s;
}
